{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ExamenJMVS</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'css/all.min.min.css'%}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet">

</head>
<body>


    <!-- dashboard -->
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard'%}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">ExamenJMVS</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'dashboard'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <!--Aqui le pones la url en href-->
                <a class="nav-link" href="{% url 'vcrearcliente' %}">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Crear cliente</span>
                </a>
            </li>


            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'verallclientes' %}">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Ver todos los clientes</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'verclientes_ac' %}">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Ver clientes activos</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <li class="nav-item">
                <!-- cambiar ver clientes inactivos -->
                <a class="nav-link" href="{% url 'verclientes_inac' %}">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Ver clientes inactivos</span>
                </a>
            </li>

            
            <!-- <hr class="sidebar-divider">

            <li class="nav-item">
                cambiar ver clientes inactivos 
                <a class="nav-link" href="{% url 'Pagos' %}">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Metodos de pago</span>
                </a>
            </li> -->

            <hr class="sidebar-divider">

            <li class="nav-item">
                <!-- cambiar ver clientes inactivos -->
                <a class="nav-link" href="{% url 'vcrearcuenta' %}">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Crear Cargo</span>
                </a>
            </li>

            <li class="nav-item">
                <!-- cambiar ver clientes inactivos -->
                <a class="nav-link" href="{% url 'HistorialPagos' %}?user={{user}}">
                    <i class="fas fa-fw fa-cog"></i>
                    <a href="{% url 'cerrarsesion' %}">
                        <button class="btn btn-secondary">Cerrar Sesión</button>
                    </a>
                </a>
            </li>

        </ul>

        <!-- desde aqui se pone lo demas formulario, vistas, etc. para que no quede invisible -->
        <div class="container">
            <h1>Gestion de usuario</h1>
            <h2>Crear Cliente</h2>

        
            <form action="{% url 'crearcliente' %}" method="POST">
                {% csrf_token %}
                <div>   
                    <label for="">Rut</label>
                    <br>
                    <input type="text" id="rutid" name="rutid">
                </div>
                <div>
                    <label for="nombreid">Nombre</label>
                    <select name="nombreid" id="nombreid">
                    {% for usuario in usuarios %}
                    <option> {{ usuario.Nombre }} </option>
                    {%endfor%}
                    </select>
                </div>
                <br>
                <div>
                    <label for="">Apellido</label>
                    <br>
                    <input type="text" id="apellidoid" name="apellidoid">
                </div>

                <br>
                <div>
                    <label for="sectorid">Sector</label>
                    <select name="sectorid" id="sectorid">
                    {% for sectores in sector %}
                    <option> {{ sectores }} </option>
                    {%endfor%}
                    
                    </select>
                </div>
                <br>
                <div>
                    <label for="estadoid">Estado</label>
            
                    <select name="estadoid" id="sectorid">
                    {% for estado in estado %}
                    <option> {{ estado }} </option>
                    {%endfor%}
                
                    </select>
                </div>
                
                <div class="container">
                    <input type="submit" value="Ingresar" id="ingresarbtn" class="btn btn-secondary">
                </div>
            </form>
        </div>

    </div>
    <!-- FIN dashboard -->
</body>
</html>